{{template "top.html"}}
<table class="row" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td class="column" width="600" valign="top" >
            <h3>Halo {{.Body.name}} !</h3>
        </td>
    </tr>
</table>

<table class="row" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td class="column" width="600" valign="top">
            <p>Terima kasih sebelumnya telah mempercayakan penutupan asuransi mobil bersama tokopolis. Anda menerima email ini karena tim service kami saat melakukan review terdapat catatan sebagai berikut :</p>
        </td>
    </tr>
</table>

<table class="row" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td class="column" width="600" valign="top">
            <p>{{ .Body.message }}</p>
        </td>
    </tr>
</table>

<table class="row" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td class="column" width="600" valign="top">
            <p>Silahkan melampirkan dokumen tersebut dengan membalas email ini ke <a href="mailto:eksternal@tokopolis.id" target="_blank" rel="noopener noreferrer">eksternal@tokopolis.id</a> .</p>
        </td>
    </tr>
</table>
{{template "bottom.html"}}