{{template "top.html"}}
<table class="row" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td class="column" width="600" valign="top">
            <h3>Penarikan Poin</h3>
        </td>
    </tr>
</table>

<table class="row" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td class="column" width="600" valign="top">
            <p>Hai <strong class="text-primary">{{.Body.name}}</strong>, penarikan poin sedang diproses!</p>
            <br>
            <p>Poin akan dikirim/masuk ke rekening bank kamu pada jam operasional bank (tidak termasuk hari Sabtu, Minggu dan hari libur nasional).</p>
            <p>Terima Kasih</p>
        </td>
    </tr>
</table>
{{template "bottom.html"}}