<table class="row" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td class="column" width="600" valign="top" >
            <h3>Upaya Login di Perangkat Baru</h3>
        </td>
    </tr>
</table>

<table class="row" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td class="column" width="600" valign="top">
            <p>
                Hai <strong class="text-primary">{{name}}</strong>, ada upaya masuk di akun anda pada perangkat lain baru-baru ini.
            </p>
        </td>
    </tr>
</table>

<table class="row table-grey" cellpadding="0" cellspacing="0">
    <tr>
        <td>Tanggal: <strong>{{date}}</strong></td>
    </tr>
    <tr>
        <td>Sistem Operasi: <strong>{{os}}</strong></td>
    </tr>
    <tr>
        <td>Alamat IP: <strong>{{ip}}</strong></td>
    </tr>
</table>

<table class="row" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td class="column" width="600" valign="top">
            <p>
                Jika Anda tidak mencoba masuk ke perangkat ini atau tidak yakin, sebaiknya ubah kata sandi akun Anda untuk menjaga keamanan data Anda.
            </p>
        </td>
    </tr>
</table>

<table class="row" cellpadding="0" cellspacing="0" width="600" style="margin: 2rem 0;">
    <tr>
        <td width="600" valign="top" align="center">
            <a href="#" class="button btn-action" target="_blank">Amankan Akun Saya</a>
        </td>
    </tr>
</table>