.error-container {
    .error-code, .error-title {
        font-weight: $font-weight-bold;
        color: $dark;
        line-height: 1;
        text-align: center;
    }

    .error-code {
        font-size: $font-size-base * 9;
    }

    .error-title {
        font-size: $font-size-base * 3;
    }

    .error-message {
        text-align: center;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 32%;
        height: 100%;
        background: url('/svg/404-error-cable-left.svg') no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: contain;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 32%;
        height: 100%;
        background: url('/svg/404-error-cable-right.svg') no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: contain;
    }
}

@include media-breakpoint-down(sm) {
    .error-container {
        &::before {
            background-position-y: 10%;
        }

        &::after {
            background-position-y: 90%;
        }

        &::before, &::after {
            width: 50%;
        }
    }
}

@include media-breakpoint-down(xs) {
    .error-container {
        &::before, &::after {
            width: 60%;
        }
    }
}