.btn-group.btn-group-toggle {
    display: inline-flex;
    width: auto;
    white-space: nowrap;
    margin: 0;

    > .btn {
        border-radius: $btn-border-radius !important;
        margin-right: $spacer * .5;

        &:last-child {
            margin-right: 0 !important;
        }

        &:not(.active):hover {
            background-color: darken($white, 2.5%);
        }

        @each $color, $value in $theme-colors {                
            &.btn-#{$color} {
                border-color: $value;
    
                &.active {
                    color: $white;
                    background-color: $value;
                }
    
                &:not(.active) {
                    color: $value;
                    background-color: $white;
                }
            }
        }
    }
}