.comparison {
    .product-image {
        max-width: 192px;
        height: 64px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    .product-name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}

.comparison-wrapper {
    position: fixed;
    bottom: 0; 
    left: 0; 
    z-index: 1020;
    width: 100%;
    background: rgba(34, 42, 66, 0.8);

    .row > [class*="col-"] {
        padding-right: $spacer * .5;
        padding-left: $spacer * .5;
    }

    .row > [class*="col-"]:first-child {
        padding-left: 0 !important;
    }

    .row > [class*="col-"]:last-child {
        padding-right: 0 !important;
    }
}

@include media-breakpoint-down(md) {
    .comparison.comparison-wrapper {
        .product-image {
            width: 48px;
            height: 100%;
        }

        .product-name {
            -webkit-line-clamp: 2;
        }
    }
}