.loading-wrapper {
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 9999;
    width: 100vw; 
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0;

    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.lazy-loading {
    opacity: 0.5;
    background: linear-gradient(135deg, 
        rgba(211,223,232,.5) 30%,
        rgba(169,184,197,.5) 38%,
        rgba(168,182,193,.6) 41%,
        rgba(168,182,193,.6) 50%,
        rgba(168,182,193,.6) 50%,
        rgba(169,184,197,.6) 51%,
        rgba(211,223,232,.6) 57%,
        rgba(211,223,232,.6) 80%,
        rgba(211,223,232,.6) 80%
    );
    background-size: 1200% 1200%;
    
    -webkit-animation: LazyLoadingAnimation 2s ease infinite reverse;
    -moz-animation: LazyLoadingAnimation 2s ease infinite reverse;
    animation: LazyLoadingAnimation 2s ease infinite reverse;
}

@-webkit-keyframes LazyLoadingAnimation {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@-moz-keyframes LazyLoadingAnimation {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes LazyLoadingAnimation { 
    0%{background-position:0% 92%}
    100%{background-position:100% 9%}
}