.loading-wrapper {
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 9999;
    width: 100vw; 
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0;

    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.lazy-loading {
    background-color: $gray-200;
}