body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;;
    height: auto;
}

figcaption, figure {
    display: block;
}

main {
    display: block;
	overflow: hidden;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button:not(:disabled), .btn:not(:disabled), .pointer {
    cursor: pointer;
}

*:focus {
    outline: none;
}

ol, ul, dl {
    padding-left: 1rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mb-last-0:last-child {
    margin-bottom: 0 !important;
}

#header + .main-wrapper {
    // image height + image padding + navbar padding
    margin-top: calc(25px + #{$navbar-brand-padding-y * 2} + #{$navbar-padding-y * 2});
}

@each $size, $value in $opacity-values {
    .opacity-#{$size} {
        opacity: $value !important;
    }    
}